<nav class="navbar navbar-light bg-faded">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <span class="navbar-logo"><img src="../../assets/navbar.jpg" alt="First Digital Financial"></span>
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">Services</a>
      <a class="nav-item nav-link" href="#">Blog</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
      <a class="nav-item nav-link" href="#">FAQ</a>
    </div>
  </div>
</nav>
