/* You can add global styles to this file, and also import other style files */
html *
{
  font-family: sans-serif !important;
}

.navbar-nav {
  margin-top: 50px;
}

.nav-link {
  font-family: sans-serif !important;
  font-size: 16px;
  text-align: right;
  color: #104869;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-logo {
  margin-right: 150px;
}

h1 {
  color: #00bfff;
  font-weight: bold;
  font-size: 24px;
}

h2.jumbo-head {
  font-family: sans-serif !important;
  color: #ffffff;
  text-align: right;
  font-size: 56px;
}

p.jumbo-subhead {
  font-family: sans-serif !important;
  color: #ffffff;
  text-align: right;
  font-size: 42px;
}

p.jumbo-button {
  font-family: sans-serif !important;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17.5;
}

h3 {
  color: #00bfff;
  font-weight: bold;
  font-size: 20px;
}

.jumbotron {
  background-image: url("assets/jumbotron.jpg");
  filter: brightness(50%);
  margin-bottom: 50px;
  margin-top: 50px;
  min-height: 520px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.message {
  margin-top: 100px;
}

.product {
  margin-top: 100px;
}

.learn-more {
  color: #00bfff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}
