<div class="row message">
  <div class="col-sm-6">
    <h1>Your Main Message</h1>

    <p>Use this space to tell people what your company does and why and how it does it. What're you known for? Who likes you? What's your number one competitive advantage?</p>

    <p>Include all the things that make your business unique and better than the competition. Do you have a patented 13-step process for taxidermy that results in the most lifelike stuffed owls? You gotta mention that.</p>

    <p>Other good things to weave into this copy include: awards won, distinctions given, number of products sold, company philosophy (just keep it short), interesting company history bits, and anything that makes a reader think you'd be awesome to do business with.</p>
  </div>
  <div class="col-sm-6">
    <img class="img-responsive" src="../assets/home-4.jpg">
  </div>
</div>
