<div class="row product">
  <div class="col-sm-4">
    <h3>Product / Service #1</h3>
    Whatever your company is most known for should go right here, whether that's bratwurst or baseball caps or vampire bat removal.
    <p class="learn-more">Learn More</p>
  </div>
  <div class="col-sm-4">
    <h3>Product / Service #2</h3>
    Whatever your company is most known for should go right here, whether that's bratwurst or baseball caps or vampire bat removal.
    <p class="learn-more">Learn More</p>
  </div>
  <div class="col-sm-4">
    <h3>Product / Service #3</h3>
    Whatever your company is most known for should go right here, whether that's bratwurst or baseball caps or vampire bat removal.
    <p class="learn-more">Learn More</p>
  </div>
</div>
